version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: ./docker/python/Dockerfile
    container_name: backend
    restart: always
    env_file: ./.env
    command: uvicorn main:app --host 0.0.0.0 --port 80 --workers 2
    ports:
    - 80:80
    depends_on:
      db:
        condition: service_healthy
    networks:
    - backend_network

  db:
    image: postgres:15.3
    container_name: db
    restart: always
    env_file: ./.env
    volumes:
    - postgres_data:/var/lib/postgresql/data
    networks:
    - backend_network
    healthcheck:
      test: "pg_isready --username=postgres && psql --username=postgres --list"
      timeout: 10s
      retries: 20

networks:
  backend_network:


volumes:
  postgres_data:
